---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { POSTS_PER_PAGE } from "./index.astro";
import type { GetStaticPathsOptions } from "astro";
import BlogBase from "../../components/BlogBase.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const blogPosts = await getCollection("posts");
  blogPosts.sort(
    (a, b) =>
      Date.parse(b.data.pubDate.toString()) -
      Date.parse(a.data.pubDate.toString())
  );

  return paginate(blogPosts, { pageSize: POSTS_PER_PAGE });
}

const { page } = Astro.props;
---

<Layout title="Blog">
  <BlogBase posts={page.data}>
    <h4>Page {page.currentPage}/{Math.ceil(page.total / POSTS_PER_PAGE)}</h4>
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </BlogBase>
</Layout>
