---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogBase from "../../components/BlogBase.astro";

export const POSTS_PER_PAGE = 4;
let showNextPage = false;

const blogPosts = await getCollection("posts").then((posts) => {
  if (posts.length > 4) showNextPage = true;
  return posts.slice(0, POSTS_PER_PAGE);
});
---

<Layout title="Blog">
  <BlogBase posts={blogPosts}>
    {showNextPage ? <a href={`/blog/2`}>Next page</a> : ""}
  </BlogBase>
</Layout>
