---
import Layout from "../layouts/Layout.astro";
import LastfmNowPlaying from "../components/LastfmNowPlaying";
import { Image } from "astro:assets";
import DaysUntilArmyEnd from "../components/DaysUntilArmyEnd";
import TutkaHonor from "../components/TutkaHonor";
import { getEntry } from "astro:content";
import Weather from "../components/Weather";

const index = await getEntry("pages", "index")!;
const { Content } = await index.render();
---

<Layout title="Home">
  <Content />
  <div class="not-prose flex justify-around flex-wrap gap-10">
    <LastfmNowPlaying username="jjthtrthrrge4te" client:load />
    <iframe
      title="My time right now"
      src="https://free.timeanddate.com/clock/i9ckyrwj/n296/szw110/szh110/cf100/hnce1ead6"
      width="110"
      height="110"
    >
    </iframe>
    <Image
      loading={"eager"}
      src={`https://raw.githubusercontent.com/IseeJ/CosmosPersona/main/images/3UFO.png`}
      alt="Cosmo persona"
      width={200}
      height={300}
    />
    <Weather client:load />
    <DaysUntilArmyEnd client:load />
    <TutkaHonor client:load />
  </div></Layout
>
