---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Release from "../../components/Release.astro";

export async function getStaticPaths() {
  const releases = await getCollection("releases");
  return releases.map((r) => ({
    params: { slug: r.slug },
    props: { r },
  }));
}

const { r } = Astro.props;
const { Content } = await r.render();
---

<Layout title={r.data.title}>
  <h1>Release</h1>
  <Release release={r} />
  <hr />
  <Content />
</Layout>
