---
interface Props {
  posts: CollectionEntry<"posts">[];
}

import type { CollectionEntry } from "astro:content";
import BlogPost from "./BlogPost.astro";
import Image from "astro/components/Image.astro";
import rss from "../assets/icons/rss.png";

const { posts } = Astro.props;
---

<h1>Blog</h1>
<div class="flex flex-col gap-4">
  {
    posts
      .sort(
        (a, b) =>
          Date.parse(b.data.pubDate.toString()) -
          Date.parse(a.data.pubDate.toString())
      )
      .map((post) => (
        <a
          class="no-underline hover:underline"
          href={`/blog/post/${post.slug}`}
        >
          <BlogPost post={post} />
        </a>
      ))
  }
</div>
<slot />
<a class="block w-fit" target="_blank" href="/blog/rss.xml"
  ><Image src={rss} alt="RSS" width={32} height={32} /></a
>
