---
// https://gist.github.com/maciejpedzich/000da5c6b3a91290d49a91c9fe940ca3

import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};

const { headings } = Astro.props;

const grouppedHeadings = headings.reduce((array, heading) => {
  if (heading.depth === 2) {
    array.push({ ...heading, subheadings: [] });
  } else if (heading.depth === 3) {
    array.at(-1)?.subheadings.push(heading);
  }

  return array;
}, [] as HeadingWithSubheadings[]);
---

<nav
  class="w-fit border mt-6 p-6 rounded-lg"
  id="table-of-contents"
  aria-label="Table Of Contents"
>
  <ol class="!my-0">
    {
      grouppedHeadings.map((h) => (
        <li>
          <a href={`#${h.slug}`}>{h.text}</a>
          {h.subheadings.length > 0 && (
            <ol>
              {h.subheadings.map((sub) => (
                <li>
                  <a href={`#${sub.slug}`}>
                    {sub.text.length > 30
                      ? sub.text.slice(0, 30) + "..."
                      : sub.text}
                  </a>
                </li>
              ))}
            </ol>
          )}
        </li>
      ))
    }
  </ol>
</nav>
