---
import { getCollection } from "astro:content";

interface Props {
  title: string;
}

const pages = await getCollection("pages", (page) => page.slug !== "index");

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>nasanoa - {title}</title>
    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      *::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      * {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="flex flex-col p-2 mx-auto w-full max-w-screen-md">
    <header class="flex flex-col items-center py-4">
      <div>
        <a href="/"
          ><h1 class="text-2xl tracking-tighter hover:opacity-75">
            nasanoa
          </h1></a
        >
      </div>
      <nav class="flex gap-3">
        <a class="text-sky-600 hover:text-sky-700" href="/releases">Releases</a>
        {
          pages.map((page) => (
            <a
              class="text-sky-600 capitalize hover:text-sky-700"
              href={`/${page.slug}`}
            >
              {page.slug}
            </a>
          ))
        }
      </nav>
    </header>
    <section class="py-8 prose prose-zinc">
      <slot />
    </section>
  </body>
</html>
